@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700i|Open+Sans:300,500,700');

body {
    font-family: 'Nunito';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito';
    font-size: 10px;
}

p {
	font-family: 'Nunito';
	font-size: 12px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}