.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
	font-family: 'Raleway';
    font-size: 36px;
    padding-left: 5px;
}